################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnityProject/ProjectKnifeThrow/Assets/Prefabs
